# 复制为 application-druid.yml 后填写本机 MySQL 密码（application-druid.yml 勿提交 Git）
spring:
    datasource:
        type: com.alibaba.druid.pool.DruidDataSource
        driverClassName: com.mysql.cj.jdbc.Driver
        druid:
            master:
                url: jdbc:mysql://localhost:3306/ry-vue?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
                username: root
                password: your_mysql_password
            slave:
                enabled: false
                url:
                username:
                password:
